@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-background: #FAF7F7;
  --color-text: #020405;
  --color-link-hover: #A72618;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a:hover {
  color: var(--color-link-hover);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Animations */
.fadeIn { animation: fadeIn 750ms ease-out; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

